*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/background-pagina.png');
}

#page_body{
  width: 90%; /* avra un resize automatico */
  max-width: 900px;
  margin: 30px auto;
  font-family: 'Roboto';
}

/* Sezione dell'header */
#contenitore_header{
  font-family: 'Montserrat';
}

 /* parte dedicata alle img header */
#img_apertura{
  width: 100%;
  height: 350px;
  border: 10px solid white;
  background-image: url('../img/background-banner.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo{
  text-align: center;
  position: relative;
  top:10%;
}

.logo img{
  position: relative;
  width: 50%;
  max-width: 400px;
}

.logo h1{
  position: relative;
  font-variant-caps: small-caps;
  color: white;
  font-size: 35px;
}

/* parte riguardante menu header */
#contenitore_menu{
  margin: 0 auto;
  background: gray;
  line-height: 40px;
  text-align: center;
}

.menu{
  width: 100%;
  padding: 0;
}

.menu li{
  display: inline-block;
  vertical-align: middle;
}

.menu a{
  display: inline-block;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 0 10px;
}


/* Sezione del main */
.contenitore_main{
  width: 100%;
  margin: 10px auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* posizionamento colonne */
.col-sx,
.col-mid,
.col-dx{
  float: left;
}

/* colonna e box sx */
.col-sx{
  width: 25%;
  padding-right: 30px;
}

.box-sx{
  background: white;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 20px;
}

/* opzione 1 */
/* .box-sx i{
  display:inline-block;
  font-size: 20px;
} */

/* opzione 2 */
.box-sx img{
  /* margin-bottom: 30px; */
  padding: 2px 2px 30px 5px;
}

.box-sx h2{
  display: inline-block;
  color: #825913;
  font-size: 25px;
  font-weight: 400;
}

.box-sx article > a{
  text-decoration: none;
}

.box-sx a > p{
  color: green;
  padding: 5px 10px;
}

/* colonna e box mid */
.col-mid{
  width: 50%;
  padding: 0 15px;
}

.box-mid{
  border-radius: 5px;
  background: white;
  padding: 15px;
  margin-bottom: 30px;
}

.box-mid h3{
  font-variant-caps: small-caps;
  color: #825913;
  font-size: 30px;
  text-shadow: 3px 3px #e2e2e2;
}

.box-1-mid{
  margin-top: 30px;
  font-weight:  400;
  line-height: 25px;
}

/* colonna e box dx */
.col-dx{
  width: 25%;
  padding-left: 30px;
}

.box-dx{
  border-radius: 5px;
  background: white;
  margin-bottom: 50px;
  padding: 20px;
}

.box-dx h4{
  color: #825913;
  font-size: 25px;
  margin-bottom: 30px;
}

.box-1-dx,
.box-2-dx,
.box-3-dx{
  font-weight:  400;
  line-height: 30px;
}

/* contenitore_footer */
.contenitore_footer{
  width: 100%;
  background: white;
  border-radius: 5px;
  text-align: center;
}

.footer_text{
  padding: 5px;
}

.footer_text h3{
  text-decoration: none;
  color: grey;
}

.footer_icon li{
  display: inline-block;
  padding: 30px;
  margin: 0 10%;
  list-style: none;
  font-size: 40px;
}

.footer_icon a{
  text-decoration: none;
  color: grey;
}
