*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url('../img/background-pagina.png');
}

#page_body{
  width: 70%;
  max-width: 1200px;
  margin: 10px auto;
  font-family: 'Roboto';
}

/* Sezione dell'header */
#contenitore_header{
  font-family: 'Montserrat';
}

#img_apertura{
  width: 100%;
  height: 300px;
  border: 4px solid white;
  background-image: url('../img/background-banner.jpeg');
  /* background-image: url('../img/logo.png'); */
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo{
  text-align: center;
  position: relative;
  top:10%;
}

.logo img{
  position: relative;
  width: 50%;
  max-width: 400px;
}

.logo h2{
  position: relative;
  font-variant-caps: small-caps;
  color: white;
  font-size: 35px;
}

#contenitore_menu{
  margin: 0 auto;
  background: gray;
  line-height: 50px;
  text-align: center;
}

.menu{
  width: 100%;
  padding: 0;
}

.menu li{
  display: inline-block;
  vertical-align: middle;
}

.menu a{
  display: inline-block;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 20px;
  color: white;
  padding: 0 20px;
}


/* Sezione del main */
.contenitore_main{
  width: 100%;
  margin: 10px auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.col-sx,
.col-mid,
.col-dx{
  float: left;
}

.col-sx{
  width: 25%;
  padding-right: 10px;
}

.box-1-sx{
  background: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;

  height: 350px;
  /* margin-right: 10px; */
}

.col-mid{
  width: 50%;
  padding: 0 10px;
}

.box-1-mid{
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  padding: 5px;
  height: 200px;
  /* margin: 0 10px; */
}

.col-dx{
  width: 25%;
  padding-left: 10px;
}

.box-1-dx{
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  margin-bottom: 15px;
  padding: 5px;
}

.box-2-dx{
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  margin-bottom: 15px;
  padding: 5px;
}

.box-3-dx{
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  margin-bottom: 15px;
  padding: 5px;
}


/* contenitore_footer */
.contenitore_footer{
  width: 100%;
  height: 100px;
  background: white;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
  text-align: center;
}

.footer_text{
  height: 30px;
  background: #aaa;
  padding: 5px;
}

.social{
  padding: 0;
}

.social li {
  list-style: none;
  float: left;
}
