*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url('../img/background-pagina.png');
}

#page_body{
  width: 100%; /* avra un resize automatico */
  max-width: 1000px;
  margin: 30px auto;
  font-family: 'Roboto';
}

/* Sezione dell'header */
#contenitore_header{
  font-family: 'Montserrat';
}

#img_apertura{
  width: 100%;
  height: 300px;
  border: 10px solid white;
  background-image: url('../img/background-banner.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.logo{
  text-align: center;
  position: relative;
  top:10%;
}

.logo img{
  position: relative;
  width: 50%;
  max-width: 400px;
}

.logo h1{
  position: relative;
  font-variant-caps: small-caps;
  color: white;
  font-size: 35px;
}

#contenitore_menu{
  margin: 0 auto;
  background: gray;
  line-height: 50px;
  text-align: center;
}

.menu{
  width: 100%;
  padding: 0;
}

.menu li{
  display: inline-block;
  vertical-align: middle;
}

.menu a{
  display: inline-block;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 20px;
  color: white;
  padding: 0 10px;
}


/* Sezione del main */
.contenitore_main{
  width: 100%;
  margin: 10px auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.col-sx,
.col-mid,
.col-dx{
  float: left;
}

.col-sx{
  width: 25%;
  padding-right: 30px;
}

.box-1-sx{
  background: white;
  border-radius: 5px;
  padding: 5px;
}

.box-1-sx i{
  display:inline-block;
  font-size: 20px;
}

.box-1-sx h2{
  display: inline-block;
  color: #825913;
  font-size: 25px;
}

.box-1-sx article > a{
  text-decoration: none;
}

.box-1-sx a > p{
  color: green;
  margin: 15px;
}

.col-mid{
  width: 50%;
  padding: 0 15px;
}

.box-mid{
  border-radius: 5px;
  background: white;
  padding: 15px;
}

.box-mid h3{
  font-variant-caps: small-caps;
  color: #825913;
  font-size: 30px;
}

.box-1-mid{
  margin-top: 30px;
  font-weight:  500;
  line-height: 25px;
}

.col-dx{
  width: 25%;
  padding-left: 30px;
}

.box-dx{
  border-radius: 5px;
  background: white;
  margin-bottom: 50px;
  padding: 20px;
}

.box-dx h4{
  color: #825913;
  font-size: 25px;
}

.box-1-dx,
.box-2-dx,
.box-3-dx{
  margin-top: 30px;
  font-weight:  500;
  line-height: 30px;
}


/* contenitore_footer */
.contenitore_footer{
  width: 100%;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.footer_text{
  height: 30px;
  border-bottom: 1px solid grey;
  padding: 5px;
}

.footer_text h3 , a{
  text-decoration: none;
  color: grey;
}

.social{
  padding: 0;
}

.social li {
  display: inline-block;
  padding: 30px;
  margin: 0 10%;
  list-style: none;
  font-size: 40px;
  color: grey;
}
